<h1>Sign up</h1>

<form action='<%= user_url %>' method="post">
  <%= csrf_input %>

  Name:<br>
  <input type="text" name="user[name]" value="<%= @user.name %>" placeholder="John Doe">

  <br><br>
  Email:<br>
  <input type="text" name="user[email]" value="<%= @user.email %>" placeholder="example@example.com">

  <br><br>
  Password:<br>
  <input type="password" name="user[password]">

  <br><br>
  <input type="submit" value="Sign up">
</form>
